.comment-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.comment-list {
    list-style: none;
    padding: 0;
}

.comment-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-content {
    margin-bottom: 5px;
}

.comment-info {
    display: flex;
    justify-content: space-between;
}

.comment-user {
    font-weight: bold;
}

.delete-comment-button {
    background-color: #d94f4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    left: 370px;
}

.delete-comment-button:hover {
    background-color: #c9302c;
}